.section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list {
  composes: container;
  max-height: calc(100vh - 500px);
  overflow-y: auto
}

.order {
  display: flex;
  gap: 0 40px;
  align-self: flex-end;
  align-items: center;
}

.price {
  display: flex;
  gap: 0 10px;
  align-items: center;
}