.container {
  max-width: 1240px;
  width: 100%;
  display: grid;
  grid-template-columns: 320px 1fr;
  margin: 0 auto;
  padding-top: 120px;
  gap: 0 60px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
}