.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 8px;
}

.item:hover {
  cursor: pointer;
}

.name {
  min-height: 48px;
  text-align: center;
}