.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  justify-content: center;
  flex: 1 0;
}

.image {
  width: 520px;
  height: 240px;
}

.list {
  display: flex;
  gap: 0 28px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
}